:root {
    --color-primary: #fffffc;
    --color-primary-invers: #000004;
    --color-hover: #f4f4f1;
    --color-text: black;
    font-weight: 400;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Courier New', Courier, monospace;

}

html {
    box-sizing: border-box;
    background-color: var(--color-primary);
}

body {
    overflow: hidden;
    margin: 0;
}

main {
    overflow: hidden;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100svh;
}

#script-main:focus-visible {
    outline: none;
}

#script-main {
    counter-reset: page scene;
    overflow: scroll;
    width: 100svw;
    padding-top: 1rem;
}


.page:not(:first-child)::before {
    content: counter(page) ".";
    position: absolute;
    top: .5in;
    right: 1in;
}

.page {
    margin: auto;
    counter-increment: page;
    position: relative;
    box-sizing: border-box;
    line-height: 1;
    display: flex;
    flex-direction: column;
    font-size: 12pt;
    outline: solid 1px black;
    width: 8.5in;
    height: 11in;
    padding: 1in 1in 1in 1.5in;
    margin-bottom: 1rem;
    z-index: 100;
    background: white;
}


.page>*:first-child {
    padding-top: 0;
}

[popover] {
    position: absolute;
    margin: 0;
    padding: 0;
    inset: auto;
    border: 0;
    background-color: inherit;
}

/* button{
    color: black;
    background-color: white;
}
button:hover {
    background-color: #eee;
} */

#header-menu {
    color: black;

    anchor-name: --header-menu;
    width: 100svw;
    /* padding-left: min(5svw, 1rem); */
    /* padding-right: min(5svw, 1rem); */
    /* margin: auto; */
    display: grid;
    grid-template-rows: auto auto;

    [popover] button {
        text-align: left;
    }

    button,
    input {
        font-family: 'Courier New', Courier, monospace;

        border: none;
        width: 100%;
        margin: 0;
        font-size: 1.125rem;
        background-color: inherit;
        color: black;
    }

    button:hover {
        background: var(--color-hover);
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    >#top-menu {
        display: grid;
        grid-template-columns: repeat(3, auto);
        justify-content: start;
        gap: 1rem;
        margin: .5rem;

        #file-name {
            font-size: 1.75rem;
            width: 25ch;
            border-bottom: solid 1px black;
        }

        #element-type-btn {
            border: solid black 1px;
            anchor-name: --element-types;
            width: 15ch;
            font-size: 1.125rem;

            /* height: 2rem; */
        }

        #element-types {
            background-color: var(--color-primary);

            li {
                border-left: solid 1px black;
                border-right: solid 1px black;
            }

            li:first-child {
                border-top: solid 1px black;
            }

            li:last-of-type {
                border-bottom: solid 1px black;
            }

            position-anchor: --element-types;
            width: anchor-size(--element-types width);
            top: anchor(--element-types bottom);

            left: anchor(--element-types left);

        }

        #title-page-toggle {
            width: 16ch;
            border: solid black 1px;

        }

        #page-count {
            position: relative;
        }

        #page-count-text {
            font-size: 1.25rem;
            width: 7ch;
            text-align: right;
        }

    }

    >#bottom-menu {
        border-bottom: solid black 1px;

        #bottom-menu-buttons {
            padding: initial;
            margin: 0;
            display: grid;
            justify-content: start;
            grid-template-columns: repeat(7, auto);

            .option-menu {
                position-anchor: --options-wrapper;
                top: anchor(--options-wrapper top);
                left: anchor(--options-wrapper left);
                width: 100%;
                height: 1in;

                img {
                    margin: auto;
                }

                >ul {
                    display: grid;
                }

                p {
                    margin: 0;
                }

                #github-logo {
                    height: 48px;
                }

                ul,
                ul>li,
                ul>li>* {
                    text-align: center;
                    color: black;
                    height: 100%;
                }


                button {
                    padding-left: 2ch;
                    padding-right: 2ch;
                }

                #download-as-btn {
                    display: grid;
                    grid-template-rows: auto auto;
                    align-items: center;

                    ul {
                        display: grid;
                        grid-template-columns: auto auto;
                    }

                }


            }

            #file-popover>ul {
                grid-template-columns: repeat(3, fit-content(16ch));
            }

            #edit-popover>ul {
                grid-template-columns: repeat(9, fit-content(16ch));

            }

            #view-popover>ul {
                grid-template-columns: repeat(2, fit-content(16ch));

            }

            #notes-popover>ul {
                grid-template-columns: repeat(8, fit-content(16ch));

            }

            #format-popover>ul {
                grid-template-columns: repeat(2, fit-content(25ch));

            }

            #production-popover>ul {
                grid-template-columns: repeat(4, fit-content(16ch));

            }

            #help-popover>ul {
                grid-template-columns: repeat(2, fit-content(16ch));

            }
        }
    }

    >#option-menu-wrapper {
        anchor-name: --options-wrapper;
        height: 1in;
        width: 100%;
        border-bottom: solid 1px black;
    }
}

#script-upload {
    display: none;
    /* hack to keep file input simple without showing the old ui */
}

#patch-notes {
    position-anchor: --header-header;
    position: absolute;
    width: 25ch;
    top: anchor(--header-menu bottom);
    left: 1rem
}

#uploads {
    display: flex;
    flex-direction: column;
    padding: 0 1rem 1rem 1rem;

    button {
        margin-top: .5rem;
    }
}

sceneheading {
    position: relative;
    counter-increment: scene;
    padding-top: 32px;
}

sceneheading::before {
    content: counter(scene);
    position: absolute;
    left: -.75in;
}

/* sceneheading::after { */
/* TODO: figure out how to do this because I'm already using the ::after for autocomplete suggestions*/
/* content: counter(scene); */
/* position: absolute; */
/* right: 1in; */
/* color:hotpink */
/* } */

shot {
    padding-top: 32px;
}

action {
    padding-top: 16px;
}

transition {
    text-align: right;
    padding-top: 16px;
}

character {
    padding-left: 2in;
    padding-right: .25in;
    padding-top: 16px;
}

dialogue {
    padding-left: 1in;
    padding-right: 1.5in;
}

parenthetical {
    position: relative;
    text-indent: -0.1in;
    padding-left: 1.5in;
    padding-right: 2in;
}

parenthetical::before {
    content: "(";
}

parenthetical::after {
    content: ")"
}

sceneheading {
    padding-top: 32px;
}

transition,
character,
sceneheading,
shot {
    position: relative;
    text-transform: uppercase;
}

transition::after,
character::after,
sceneheading::after {
    display: inline;
    content: attr(data-suggestion);
    color: gray
}

/* fixes autocomplete on the "next" line of an empty element*/
character:has(>br)::after {
    position: absolute;
    top: 1rem;
}

/* same as above but with closing parenthesis*/
parenthetical:has(>br)::after {
    position: absolute;
    top: 0;
    left: calc(1.5in + 1ch);
}

span.bold {
    font-weight: bold;
}

span.italic {
    font-style: italic;
}

span.underline {
    text-decoration: underline;
}

continued {
    padding-left: 2in;
    padding-right: 3in;
}

.autocomplete {
    color: gray;
    user-select: none;
}

pagenum {
    position: absolute;
    top: 1rem;
    right: 1rem;
    user-select: none;
}

titletext {
    position: relative;
}