:root {
    /* line-height: 1.5; */
    /* TODO: check if this is right*/
    font-weight: 400;
    /* and this */
    /* font-size: 20px; */
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Courier New', Courier, monospace;
}

html {
    box-sizing: border-box;
    background-color: white;
}

main {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#script-main:focus-visible {
    outline: none;
}

#script-main {
    counter-reset: page scene;
}


.page:not(:first-child)::before {
    content: counter(page) ".";
    position: absolute;
    top: .5in;
    right: 1in;
}

.page {
    counter-increment: page;
    position: relative;
    box-sizing: border-box;
    line-height: 1;
    display: flex;
    flex-direction: column;
    font-size: 12pt;
    outline: solid 1px black;
    width: 8.5in;
    height: 11in;
    padding: 1in 1in 1in 1.5in;
    margin-bottom: 1rem;
    /* word-break: break-all; idk about this */
}


.page>*:first-child {
    padding-top: 0;
}
#patch-notes{
    width: 25ch;
    position: absolute;
    left: 1rem;
    top: 1rem;
}

#options {

    background-color: white;
    position: sticky;
    top: 0;
    padding: 1rem;
    z-index: 100;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    >.buttons {
        display: flex;
        flex-direction: row;

        p {
            margin: 0;
        }
    }
}

#uploads {
    display: flex;
    flex-direction: column;
    padding: 0 1rem 1rem 1rem;

    button {
        margin-top: .5rem;
    }
}

sceneheading {
    position: relative;
    counter-increment: scene;
    padding-top: 32px;
}

sceneheading::before {
    content: counter(scene);
    position: absolute;
    left: -.75in;
}

/* sceneheading::after { */
    /* TODO: figure out how to do this because I'm already using the ::after for autocomplete suggestions*/
    /* content: counter(scene); */
    /* position: absolute; */
    /* right: 1in; */
    /* color:hotpink */
/* } */

shot {
    padding-top: 32px;
}

action {
    padding-top: 16px;
}

transition {
    text-align: right;
    padding-top: 16px;
}

character {
    padding-left: 2in;
    padding-right: .25in;
    padding-top: 16px;
}

dialogue {
    padding-left: 1in;
    padding-right: 1.5in;
}

parenthetical {
    text-indent: -0.1in;
    padding-left: 1.5in;
    padding-right: 2in;
}

parenthetical::before {
    content: "(";
}

parenthetical::after {
    content: ")"
}

sceneheading {
    padding-top: 32px;
}

transition,
character,
sceneheading,
shot {
    text-transform: uppercase;
}

transition::after,
character::after,
sceneheading::after {
    display: inline-block;
    content: attr(data-suggestion);
    color: gray
}

span.bold {
    font-weight: bold;
}

span.italic {
    font-style: italic;
}

span.underline {
    text-decoration: underline;
}



continued {
    padding-left: 2in;
    padding-right: 3in;
}

.autocomplete {
    color: gray;
    user-select: none;
}

pagenum {
    position: absolute;
    top: 1rem;
    right: 1rem;
    user-select: none;
}