:root {
    line-height: 1.5;
    font-weight: 400;
    font-size: 20px;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Courier New', Courier, monospace;
}

html {
    box-sizing: border-box;
    background-color: white;
}

main {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#script-main:focus-visible {
    outline: none;
}

.page {
    box-sizing: border-box;
    line-height: 1;
    display: flex;
    flex-direction: column;
    font-size: 12pt;
    outline: solid 1px black;
    width: 8.5in;
    height: 11in;
    padding: 1in 1in 1in 1.5in;
    margin-bottom: 1rem;
}


.page>*:first-child {
    padding-top: 0;
}

#options {
    padding: 1rem;
    display: flex;
    flex-direction: row;

    p {
        margin: 0;
    }
}

#uploads {
    display: flex;
    flex-direction: column;
    padding: 0 1rem 1rem 1rem;

    button {
        margin-top: .5rem;
    }
}

sceneheading {
    padding-top: 32px;
}

shot {
    padding-top: 32px;
}

action {
    padding-top: 16px;
}

transition {
    text-align: right;
    padding-top: 16px;
}

character {
    padding-left: 2in;
    padding-right: 3in;
    padding-top: 16px;
}

dialogue {
    padding-left: 1in;
    padding-right: 2in;
}

parenthetical {
    text-indent: -0.1in;
    padding-left: 1.5in;
    padding-right: 2in;
}

parenthetical::before {
    content: "(";
}

parenthetical::after {
    content: ")"
}

sceneheading {
    padding-top: 32px;
}

transition,
character,
sceneheading {
    text-transform: uppercase;
}

continued {
    padding-left: 2in;
    padding-right: 3in;
}

.autocomplete {
    color: gray
}